*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
.conteiner{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	float:left;
}
.col-lg-12{
	width: 100%;
	float: left;
}
.col-lg-4{
	width: 33.33%;
	float: left;
}
.col-lg-6{
	width: 50%;
	float: left;
}
.text-right{
	text-align: right;
}

/*global css end*/
/*header section start*/
.header-section{
	width: 100%;
	padding: 20px 0px;
	background-color: #F6F9F9;
	float: left;
}
.logo{
	width: 100%;
	float: left;
	margin: 0px 80px;
}
.banner{width: 100%;
	float: left;
	padding: 120px 0px 80px;
	background: url("../image/banner.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.inner-banner{
	width: 100%;
	float: left;
	text-align: center;
}
.inner-banner h1{
	font-size: 80px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	line-height: 70px;
}
.divider{
	width: 400px;
	height: 2px;
	background-color: #15a4fa;
	margin: 20px auto;
}
.inner-banner p{
	font-size: 14px;
	color: white;
	line-height: 24px;
	margin-bottom: 50px;
}
.inner-banner .btn-info{
	text-decoration: none;
	padding: 12px 30px;
	border-radius: 5px;
	border: 1px solid  #15a4fa;
	background-color: transparent;;
	color: white;
	font-size: 16px;
	font-weight: : 700;
}
.inner-banner .btn-info:hover{
	color: white;
	border: 1px solid #15a4fa;
	background: #15a4fa;
	transition: 1s;
	text-align: center;
}
.banner .arrow{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 385px;
}
/*header section end*/
.simple-pure{
	width: 100%;
	float: left;
	text-align: center;
}
.simple-pure h1{
   font-size: 40px;
   line-height: 50px;
   color: #2d3950;
   margin-top: 40px;
	
 }
.siple-pure p{
	width: 60%;
	font-size: 24px;
	line-height: 10px;
	color: #999999;
}
.feature{
	width: 100%;
	float: left;
	padding: 80px 0px;
}
.feature .inner-feature{
	width: 100%;
	float: left;
	text-align: center;
}
.feature .inner-feature img{

}
.feature .inner-feature h3{
	font-size: 18px;
    line-height: 30px;
    color: #2d3950;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature .inner-feature p{
 	
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}
.showcase{
	width: 100%;
	text-align: center;
	float: left;
}
.showcase h1{
	font-size: 40px;
	line-height: 15px;
	color: #2d3950;
}
.showcase p{
	font-size: 14px;
	color: #999999;
	line-height: 70px;
	margin-bottom: 60px;
}
.inner-portf0lio{
	width: 100%;
	float: left;
	position: relative;
	margin: 10px;
}
.inner-portf0lio .port-hover{
	width: 81%;
	height: 98%;
	margin-left: 42px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgb(23,151,232, .8);
	display: none;
}
.port-hover .icon{
	position: absolute;
	width: 100%;
	top: 45%;
	
}
.port-hover .icon img{
	margin-right: 5px;
}
.inner-portf0lio:hover .port-hover{
	display: block;
}	
.Contact{
	width: 100%;
	float: left;
	padding: 80px 0px;
	background: url("../image/footer banner.png"); 
	text-align: center;
	top: no-repeat;
	background-size: cover;
}
.Contact h1{
	font-size: 40px;
	line-height: 10px;
	color: #ffffff;
	margin-bottom: 40px;
}
.Contact p{
	font-size: 15px;
	line-height: 10px;
	color: #929294;
	text-align: center;
}
.Contact-form{
	width: 50%;
	margin-top: 40px;
	margin-left: 23%;
}
.form-group{
	width: 100%;
	float: left;
	margin: 10px;
}
.Contact-form .form-group .form-control{
	width: 100%;
	padding: 10px;
	background: transparent;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}


.form-group span{
	
	font-size: 14px;
	color: #fff;
}
.btn-send{
	padding: 10px 25px;
	background: transparent;
	border: 1px solid #15a4fa;
	border-radius: 5px;
	color: #fff;
	float: right;
	
}
.btn-send:hover{
	background: #15a4fa;
	border:1px solid  #15a4fa ;
	transition: 1s;
	color: #fff;
}

.footer{
	width: 100%;
	float: left;
	padding: 15px 0px;
	margin-top: 10px;
}

.footer p{
	font-size: 15px;
	line-height: 35px;
	color: #929294;
	text-align: center;
}

.social-icons{
	width: 100%;
	float: left;
	text-align: center;
}

.social-icons li{
	list-style: none;
	display: inline-block;
}

.social-icons a{
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #15a4fa;
	color: #fff;
	border: 1px solid ##15a4fa;
	font-size: 18px;
	margin-top: 0px 5px;
	transition: 1s;
}

.social-icons li a:hover{
	background: transparent;
	color: #15a4fa;
	border: 1px solid #15a4fa;
}